<h1>BurgerPlace: The Place for Burgers™</h1>


<div class="fresh">
    <h3>Fresh Burgers</h3>
    <table class="burger-table">
        {{#each burgers}}
            {{#unless devoured}}
                {{> burger-block devourable=true}}
            {{/unless}}
        {{/each}}
    </table>
</div>

<div class="devoured">
    <h3>Eaten Burgers</h3>
    <table class="burger-table">
        {{#each burgers}}
            {{#if devoured}}
                {{> burger-block devourable=false}}
            {{/if}}
        {{/each}}
    </table>
</div>

<form class="create-form">
    <h2>Make a burger!</h2>
    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="burger_name">
    </div>

    <div class="form-group">
        <label for="dev">Devoured?</label><br>
        <input type="radio" name="devoured" value="0" checked>Uneaten<br>
        <input type="radio" name="devoured" value="1">Devoured
    </div>

    <button type="submit">Add Burger</button>
</form>